<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>List of Reclamations</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
      }

      h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        background-color: #fff;
        margin: 20px 0;
        border: 1px solid #ddd;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
        color: #333;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      tr:hover {
        background-color: #f5f5f5;
      }

      .no-records {
        font-style: italic;
        color: gray;
      }
    </style>
  </head>
  <body>
    <h1>List of Reclamations</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Cause</th>
          <th>Date</th>
          <th>Sent by</th>
          <th>Received by</th>
          <th>Traitée</th>
        </tr>
      </thead>
      <tbody>
        {% for reclamation in reclamations %}
        <tr>
          <td>{{ reclamation.id }}</td>
          <td>{{ reclamation.cause }}</td>
          <td>{{ reclamation.date|date('Y-m-d H:i:s') }}</td>
          <td>{{ reclamation.idUsers.prenom }} {{ reclamation.idUsers.nom }}</td>
          <td>{{ reclamation.idUserR.prenom }} {{ reclamation.idUserR.nom }}</td>
          <td>{{ reclamation.etat ? 'Yes' : 'No' }}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="6" class="no-records">No records found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
