{% extends 'template.html.twig' %}


{% block body %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cause</th>
                <th>Traitée</th>
                <th>Photo</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.cause }}</td>
                <td>{{ reclamation.etat ? 'Yes' : 'No' }}</td>
                <td>
                                                {% if reclamation.photo %}
                                                    <img src="{{ asset('uploads/reclamations/' ~ reclamation.photo) }}" alt="photo"
                                                         width="100">
                                                {% else %}
                                                    No photo
                                                {% endif %}
                                            </td>
                                            <td>{{ reclamation.date|date('Y-m-d H:i:s') }}</td>
                <td>
                

                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_new') }}" class="btn btn-primary">Create new</a>
    <a href="{{ path('app_reclamation_statistics') }}" class="btn btn-primary">Statistiques</a>
   <a href="{{ path('app_reclamation_pdf') }}" target="_blank" class="btn btn-primary">Export to PDF</a>

{% endblock %}
