{% extends 'template.html.twig' %}

{% block body %}

<title>Transporteurs </title> 
<style>
    .search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-label {
        margin-right: 10px;
        font-weight: bold;
    }

    .search-input {
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .search-button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .search-button:hover {
        background-color: #45a049;
    }
</style>
<h1>Liste des Transporteurs</h1>
<form class="search-form" method="get" action="{{ path('app_transporteur_search') }}">
    <input class="search-input" type="text" id="searchTerm" name="searchTerm" value="{{ app.request.query.get('searchTerm') }}" />
</form>
<a href="{{ path('add_transporteur') }}" class="btn btn-sm btn-primary add-button">
   Ajouter <i class="fa-duotone fa-plus"></i>
</a>
<style>
.add-button {
  margin-left: 700px;
  margin-right: 0;
  float: right;
}

.table img {
  max-width: 100%;
  height: auto;
}

</style>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numéro du téléphone</th>
                 <th>Modifier</th>
                <th>Supprimer</th>

            </tr>
        </thead>
        <tbody>
        {% for transporteur in transporteurs %}
            <tr>
                <td>{{ transporteur.id }}</td>  
                <td> <img src="{{ asset('uploads/produits/' ~ transporteur.photo) }}"
             alt="" height="60" width="60"> </td>
                <td>{{ transporteur.nom }}</td>
                <td>{{ transporteur.prenom }}</td>
                <td>{{ transporteur.numTel }}</td>
                
            <td>
                        <a href="{{ path('update_transporteur', {'id': transporteur.id}) }}" class="btn btn-sm btn-primary me-2">
                            <i class="fa-solid fa-file-pen"></i> Modifier
                        </a>
                        </td>
                        <td>
                        <form action="{{ path('delete_transporteur', {'id': transporteur.id}) }}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce Transporteur?')">
                                <i class="fa fa-trash"></i> Supprimer
                            </button>
                            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
