{% extends 'templatefront.html.twig' %}

{% block body %}
    <div class="container">
      {% if weather_data.weather[0].icon is defined %}
          <img src="{{ 'https://openweathermap.org/img/w/' ~ weather_data.weather[0].icon ~ '.png' }}" alt="Weather Icon">
      {% endif %}
      
      <p>Température à  tunis: {{ weather_data.main.temp  }} °C</p>

      {% if weather_data.wind.speed is defined %}
          <p>Vitesse de l'air : {{ weather_data.wind.speed }} m/s</p>
      {% endif %}



        <h1>Dernières annonces:</h1>
        <form id="search-form">
            <div class="form-group">
                <label for="search-input">Rechercher un produit :</label>
                <input type="text" class="form-control" id="search-input" name="search" placeholder="Entrez un mot-clé">
            </div>
        </form>
        <div class="row" id="products-container">
            {% for produit in produits %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ asset('uploads/produits/' ~ produit.photo) }}" alt="product photo" style="max-width: 300px">
                        <div class="card-body">
                            {% if produit.user and produit.user.photo %}
                            {% if app.user %}
                                <a href="{{ path('app_user_profile', {'id': produit.user.id}) }}"><img src="{{ asset('uploads/users/' ~ produit.user.photo) }}" class="img-fluid rounded-circle" style="width:50px; height:50px;" alt="">{{ produit.user.prenom }} {{ produit.user.nom }}</a><br>
                                {% else %}
                                    <a href="{{ path('app_login') }}"><img src="{{ asset('uploads/users/' ~ produit.user.photo) }}" class="img-fluid rounded-circle" style="width:50px; height:50px;" alt="">{{ produit.user.prenom }} {{ produit.user.nom }}</a><br>
                                {% endif %}
                            {% endif %}
                            <h5 class="card-title">{{ produit.nom }}</h5>
                            <p class="card-text">{{ produit.categorie }} - {{ produit.libelle }}</p>

                            {% if app.user %}
                                <a href="{{ path('app_produit_show1', {'id': produit.id}) }}" class="btn btn-primary">Voir le produit</a>
                            {% else %}
                                <a href="{{ path('app_login') }}" class="btn btn-primary">Voir le produit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <script>
        const searchForm = document.getElementById('search-form');
        const searchInput = document.getElementById('search-input');
        const productsContainer = document.getElementById('products-container');

        searchInput.addEventListener('input', () => {
            const searchTerm = searchInput.value.toLowerCase();
            const products = productsContainer.getElementsByClassName('product');

            Array.from(products).forEach(product => {
                const title = product.getElementsByClassName('card-title')[0].innerText.toLowerCase();
                const category = product.getElementsByClassName('card-text')[0].innerText.toLowerCase();

                if (title.includes(searchTerm) || category.includes(searchTerm)) {
                    product.style.display = '';
                } else {
                    product.style.display = 'none';
                }
            });
        });
    </script>
{% endblock %}
