{% extends 'templatefront.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Dernières annonces:</h1>
        <div class="row">
            {% for produit in produits %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ produit.photo }}" alt="{{ produit.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.nom }}</h5>
                            <p class="card-text">{{ produit.categorie }} - {{ produit.libelle }}</p>
                            <a href="{{ path('app_produit_show1', {'id': produit.id}) }}" class="btn btn-primary">Voir le produit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
