{% extends 'template.html.twig' %}




{% block body %}

    <title>Produit</title>  

    <h1 class="text-center mt-5 mb-3">Liste des produits</h1>

    <div class="container">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Ville</th>
                    <th scope="col">ID Utilisateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.type }}</td>
                    <td>{{ produit.categorie }}</td>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.libelle }}</td>
                    <td><img src="{{ asset('uploads/produits/' ~ produit.photo) }}" alt="product photo" style="max-width: 100px"></td>
                  
                    <td>{{ produit.ville }}</td>
                    <td>{{ produit.idUser }}</td>
                    <td>
                        <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-sm btn-info mr-2">Détails</a>
                        <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-sm btn-primary mr-2">Modifier</a>
                        <a href="{{ path('app_produit_delete', {'id': produit.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9" class="text-center">Aucun produit trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('generate_csv') }}" target="_blank">Générer le fichier CSV</a>
        
                    <a href="{{ path('generate_pdf') }}" target="_blank">Générer le PDF</a><br>
    </div>

    <a href="{{ path('app_produit_new') }}" class="btn btn-primary float-right mb-3">Ajouter un produit</a>

{% endblock %}
