{% extends 'templatefront.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ produit.nom }}</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('uploads/produits/' ~ produit.photo) }}" alt="product photo" style="max-width: 400px">
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Type</th>
                            <td>{{ produit.type }}</td>
                        </tr>
                        <tr>
                            <th>Catégorie</th>
                            <td>{{ produit.categorie }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ produit.libelle }}</td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td>{{ produit.ville }}</td>
                        </tr>
                    </tbody>
                </table>
                <a href="{{ path('app_confirmer_echange', {'p1': p1, 'p2': p2}) }}" class="btn btn-primary">Confirmer</a>
            </div>
        </div>
    </div>
{% endblock %}