{% extends 'template.html.twig' %}


{% block body %}
<title>Produit</title>
    <h1>Produit</h1>

    <table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ produit.id }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ produit.type }}</td>
        </tr>
        <tr>
            <th>Categorie</th>
            <td>{{ produit.categorie }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ produit.nom }}</td>
        </tr>
        <tr>
            <th>Libelle</th>
            <td>{{ produit.libelle }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td>
                {% if produit.photo %}
                    <img src="{{ asset('uploads/produits/' ~ produit.photo) }}" alt="product photo" style="max-width: 200px">
                {% else %}
                    No photo available
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ produit.ville }}</td>
        </tr>
        <tr>
            <th>IdUser</th>
            <td>{{ produit.idUser }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('app_produit_index') }}">back to list</a>

<a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

{{ include('produit/_delete_form.html.twig') }}

{% endblock %}
