{% extends 'template.html.twig' %}

{% block body %}
    <h1 class="mb-4">Evenements</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for evenement in evenements %}
                <tr>
                    <td>{{ evenement.id }}</td>
                    <td>{{ evenement.nom }}</td>
                    <td>{{ evenement.description }}</td>
                    <td>{{ evenement.dateD ? evenement.dateD|date('Y-m-d') : '' }}</td>
                    <td>{{ evenement.dateF ? evenement.dateF|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="btn btn-sm btn-primary"><i
                                    class="fas fa-eye"></i> Voir</a>
                        <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-sm btn-warning"><i
                                    class="fas fa-edit"></i> Modifier</a>
                        <a href="{{ path('app_evenement_notifier', {'id':evenement.id }) }}" class="btn btn-sm
                           btn-default"><i
                                    class=" fas fa-bell"></i> Notifier</a>

                        {{ include('evenement/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun enregistrement trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_evenement_new') }}" class="nav-link btn btn-success"><i class="fas fa-plus"></i> Créer un
        nouvel
        événement</a>
{% endblock %}