{% extends 'template.html.twig' %}

{% block body %}
    <h1>Evenement</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>ID :</th>
            <td>{{ evenement.id }}</td>
        </tr>
        <tr>
            <th>Nom :</th>
            <td>{{ evenement.nom }}</td>
        </tr>
        <tr>
            <th>Description :</th>
            <td>{{ evenement.description }}</td>
        </tr>
        <tr>
            <th>Date de début :</th>
            <td>{{ evenement.dateD ? evenement.dateD|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Date de fin :</th>
            <td>{{ evenement.dateF ? evenement.dateF|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>
    <form>
        <a href="{{ path('app_evenement_index') }}" class="btn btn-outline-secondary mt-3"
           style="margin-top: 16px;">
            <i class="fas fa-arrow-left"></i> Retour à la liste
        </a>
    </form>
    <form>
        <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-outline-primary mt-3"
           style="margin-top: 16px;">
            <i class="fas fa-edit"></i> Modifier l'événement
        </a>
    </form>
    {{ include('evenement/_delete_form.html.twig') }}
    <div class="container mt-4">


        <link rel="stylesheet" href="{{ asset('plugins/fullcalendar/main.min.css') }}">
        <script src="{{ asset('plugins/fullcalendar/main.min.js') }}"></script>
        <div class="card">
            <div class="card-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: [
                    {% for evenement in evenements %}
                    {
                        title: "{{ evenement.nom }}",
                        start: "{{ evenement.dateD|date('Y-m-d') }}",
                        end: "{{ evenement.dateF|date('Y-m-d') }}",
                        url: "{{ path('app_evenement_show', {'id': evenement.id}) }}"
                    },
                    {% endfor %}
                ],
                themeSystem: 'bootstrap',
                eventColor: '#ffb013',
                eventTextColor: '#ffffff',
                eventBorderColor: '#ffb013',
                eventBackgroundColor: '#ffb013',
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },
                eventClick: function (info) {
                    info.jsEvent.preventDefault();
                    window.location = info.event.url;
                }
            });

            calendar.render();
        });

    </script>

{% endblock %}