{% extends 'templatefront.html.twig' %}

{% block body %}
<div class="row">
{% for user in users %}
<div class="col-md-4">
<a href="{{ path('app_user_profile', {'id': user.id}) }}">
<div class="card mb-4">
<img src="{{ asset('uploads/users/' ~ user.photo) }}" class="card-img-top" alt="User Photo" style="max-height: 200px;">
<div class="card-body">
<h3 class="card-title">{{ user.nom }} {{ user.prenom }}</h3>
<p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
<p class="card-text"><strong>Valeur fidélité:</strong> {{ user.valeurFidelite }}</p>
<p class="card-text"><strong>Numéro de téléphone:</strong> {{ user.numTel }}</p>
<p class="card-text"><strong>Ville:</strong> {{ user.ville }}</p>
<p class="card-text"><strong>Classement:</strong> {{ loop.index }}</p>
</div>
</div>
</a>
</div>
{% endfor %}
</div>
{% endblock %}