{% extends 'template.html.twig' %}

{% block body %}

<title>Recherche des Echanges</title> 


<h1>Liste des Echanges</h1>




<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Créé le</th>
            <th>Localisation</th>
            <th>Nom et prenom du livreur</th>
            <th>Etat</th>
            <th>Assigner livreur</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody id="table-body">
    {% for echange in echanges %}
        <tr>
            <td>{{ echange.id }}</td>  
            <td></td>
            <td>{{ echange.location }}</td>
            <td>
              {% if echange.idTransporteur %}
                {{ echange.getIdTransporteur().nom ~ ' ' ~ echange.getIdTransporteur().prenom }}
              {% else %}
                Aucun transporteur assigné
              {% endif %}
            </td>
            <td>
              {% if echange.etat == 'En cours de livraison' %}
                <span class="text-warning"><i class="fas fa-hourglass-half"></i> En cours de livraison</span>
              {% elseif echange.etat == 'livré' %}
                <span class="text-success"><i class="fas fa-check-circle"></i> livré</span>
              {% elseif echange.etat == 'Annulé' %}
                <span class="text-danger"><i class="fas fa-times-circle"></i> Annulé</span>
              {% elseif echange.etat == 'confirmed' %}
                <span class="text-primary"><i class="fas fa-check"></i> Confirmé</span>
              {% endif %}
            </td>
            <td>
                <form method="POST" action="{{ path('update_echange', {'id': echange.id}) }}">
                    <div class="form-group">
                        <label for="transporteur">Transporteur:</label>
                        <select name="transporteur" id="transporteur" class="form-control">
                            {% for transporteur in transporteurs %}
                                <option value="{{ transporteur.id }}" {% if echange.idTransporteur and echange.idTransporteur.getId() == transporteur.id %}selected{% endif %}>{{ transporteur.id }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa-solid fa-file-pen"></i> Assigner
                    </button>
                </form>
            </td>
            <td>
                <form action="{{ path('delete_echange', {'id': echange.id}) }}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet echange?')">
                        <i class="fa fa-trash"></i> Supprimer
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}

        </tbody>
    </table>

   
{% endblock %}
