{% extends 'template.html.twig' %}


{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Pwd</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Photo</th>
                <th>NumTel</th>
                <th>Ville</th>
                <th>ValeurFidelite</th>
                <th>Role</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.pwd }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                        {% if user.photo %}
                            <img src="{{ asset('uploads/users/' ~ app.user.photo) }}" alt=" photo" width="100">
                        {% else %}
                            No photo
                        {% endif %}
                </td>
                <td>{{ user.numTel }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.valeurFidelite }}</td>
                <td>{{ user.role ? 'Admin' : 'Client' }}</td>
                <td>{{ user.etat }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
